html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;
  background-color: #ece4b7;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  border: 5px solid white;
  border-radius: 10px;
  margin: 20px 20px 30px 20px;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
  color: #000;
}

footer {
  color: #fff;
  text-align: center;
}

.hamburger {
  display: none;
}

.header {
  color: #000;
  background: #cfbc7e;
  border-radius: 10px;
  border: 1px solid #fefefe;
  margin: 30px 50px 30px 50px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.links {
  padding: 15px 10px 10px 10px;
  border: 1px solid #fefefe;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: none;
  &__facebook {
    margin-right: 10px;
    &--picture {
      border-radius: 3px;
      transition: transform 1s ease-in;
      opacity: 1;
      &:hover {
        transform: scale(3);
        opacity: 0.7;
      }
    }
  }
  &__linkedin {
    margin-right: 10px;
    &--picture {
      border-radius: 3px;
      transition: transform 1s ease-in;
      opacity: 1;
      &:hover {
        transform: scale(3);
        opacity: 0.7;
      }
    }
  }
  &__instagram {
    margin-right: 10px;
    &--picture {
      border-radius: 3px;
      transition: transform 1s ease-in;
      opacity: 1;
      &:hover {
        transform: scale(3);
        opacity: 0.7;
      }
    }
  }
}
.main-board {
  background: #ece4b7;
  border-radius: 10px;
  margin: 0 20px 30px 20px;
  border: 5px solid white;
  padding: 30px;
}

.navigation {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  &__link {
    color: #000;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #fefefe;
    background-color: #cfbc7e;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    &--home-page {
      background-color: #b19e60;
      color: #000;
    }
  }
}

.notes {
  color: #000;
  text-align: center;
  font-size: 2rem;
  padding: 16px;
  border: 1px solid #fefefe;
  border-radius: 10px;
  margin: 30px 50px 30px 50px;
  background-color: #cfbc7e;
  position: sticky;
  top: 0px;
  z-index: 2000;
}

p {
  background-color: #b19e60;
  padding: 16px;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
}

.section {
  background: #cfbc7e;
  border-radius: 10px;
  padding: 16px;
  border: 1px solid #fefefe;
  position: relative;
  box-shadow: 0 8px 6px -6px black;
  &__description {
    display: inline-block;
    background: #b19e60;
    border-radius: 10px;
    padding: 16px;
    max-width: 800px;
    max-height: 250px;
    position: absolute;
    top: 100px;
    right: 80px;
    left: 400px;
  }
  &__muntain-picture {
    border-radius: 10px;
    max-width: 300px;
    max-height: 400px;
  }
  &__title {
    display: inline-block;
    position: absolute;
    left: 400px;
    font-size: 2rem;
  }
}

.span-yellow {
  color: yellow;
}

.top {
  color: #000;
  background: #b19e60;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  text-decoration: none;
  margin-bottom: 2px;
}
.week-summary {
  padding: 16px;
  border: 1px solid #fefefe;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  background-color: #cfbc7e;
  box-shadow: 0 8px 6px -6px black;
  &__description {
    color: #000;
    background-color: #b19e60;
  }
  &__title {
    color: #000;
    text-align: center;
    font-size: 25px;
  }
  &__title::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    margin-right: 20px;
  }
}

.yellow-class {
  color: #ffd900;
}

@media screen and (max-width: 1023px) {
  .board {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
    padding: 0;
  }

  footer {
    margin-top: 20px;
  }

  .header {
    margin: 20px 0 20px 0;
    font-size: 10px;
    position: static;
  }

  .links {
    display: none;
  }

  .main-board {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .navigation {
    width: 100%;
    padding: 10px;
    margin: 0;
    display: block;
    width: 50%;
    &__link {
      display: block;
      padding: 5px;
      font-size: 15px;
      border-radius: 5px;
      margin-bottom: 5px;
      font-weight: bolder;
    }
  }

  .section {
    display: block;
    &__description {
      display: block;
      position: static;
      max-height: 100%;
      margin: 0;
    }
    &__muntain-picture {
      border-radius: 10px;
      max-width: 100px;
      max-height: 200px;
      margin-bottom: 20px;
    }
    &__title {
      position: absolute;
      left: 310px;
      top: 50px;
      font-size: 20px;
    }
  }

  .notes {
    font-size: 20px;
    margin: 20px 0 20px 0;
    padding: 10px;
    position: static;
  }

  .top {
    margin-top: 20px;
  }

  .week-summary {
    margin-bottom: 25px;
    &__title {
      font-size: 20px;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: inline-block;
    position: absolute;
    top: 27px;
    right: 10px;
    border: 0;
    background: none;
  }

  main {
    margin: 60px auto 0;
  }
  .main-heading {
    background: #b19e6088;
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .navigation {
    display: none;
    &--open {
      display: block;
    }
  }

  .section__title {
    position: absolute;
    left: 140px;
    top: 50px;
  }
}

@media screen and (max-width: 1350px) {
  footer {
    margin-top: 10px;
  }
  .monospace {
    margin: 0;
  }

  p {
    font-size: 15px;
  }
}
