@import "modules/_navigation";
@import "modules/_links";
@import "modules/section";
@import "modules/week-summary";


@keyframes klepsydra {
  0% {
    transform: scale(1.5);
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 20px;
  column-gap: 30px;
  background-color: #ece4b7;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  border: 5px solid white;
  border-radius: 10px;
  margin: 20px 20px 30px 20px;
  @media screen and (max-width: 1023px) {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
    padding: 0;
  }
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
  color: #000;
  @media screen and (max-width: 1350px) {
    margin: 0;
  }
}

footer {
  color: #fff;
  text-align: center;
  @media screen and (max-width: 1023px) {
    margin-top: 20px;
  }
  @media screen and (max-width: 1350px) {
    margin-top: 10px;
  }
}

.hamburger {
  display: none;
  @media screen and (max-width: 767px) {
    display: inline-block;
    position: absolute;
    top: 27px;
    right: 10px;
    border: 0;
    background: none;
  }
}

.header {
  color: #000;
  background: #cfbc7e;
  border-radius: 10px;
  border: 1px solid #fefefe;
  margin: 30px 50px 30px 50px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  @media screen and (max-width: 1023px) {
    margin: 20px 0 20px 0;
    font-size: 10px;
    position: static;
  }
}

.hourglass {
  display: inline-block;
  animation: klepsydra 1s ease-in-out infinite alternate;
  transition: transform 500ms ease;
  &:hover {
    transform: rotate(180deg);
  }
}
.main-board {
  background: #ece4b7;
  border-radius: 10px;
  margin: 0 20px 30px 20px;
  border: 5px solid white;
  padding: 30px;
  @media screen and (max-width: 1023px) {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.notes {
  color: #000;
  text-align: center;
  font-size: 2rem;
  padding: 16px;
  border: 1px solid #fefefe;
  border-radius: 10px;
  margin: 30px 50px 30px 50px;
  background-color: #cfbc7e;
  position: sticky;
  top: 0px;
  z-index: 2000;
  @media screen and (max-width: 1023px) {
    font-size: 20px;
    margin: 20px 0 20px 0;
    padding: 10px;
    position: static;
  }
}

p {
  background-color: #b19e60;
  padding: 16px;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
  @media screen and (max-width: 1350px) {
    font-size: 15px;
  }
}

.span-yellow {
  color: yellow;
}

.top {
  color: #000;
  background: #b19e60;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  text-decoration: none;
  margin-bottom: 2px;
  @media screen and (max-width: 1023px) {
    margin-top: 20px;
  }
}

.yellow-class {
  color: #ffd900;
}

@media screen and (max-width: 767px) {
  main {
    margin: 60px auto 0;
  }
  .main-heading {
    background: #b19e6088;
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
}
